.App {
  position: relative;
  width: 754px;
  padding: 40px 30px 40px 52px;
  margin: 20px auto;
  font-family: Georgia, "Times New Roman", serif;
  border: solid 1px #222;
  border-radius: 40px;
  box-shadow: 12px 12px 12px #000;
}
